<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yz.clothManagement.dao.IOmCategoryDao">

    <resultMap id="omCategoryMap" type="cn.yz.clothManagement.entity.OmCategory">
        <id column="category_id" property="categoryId" jdbcType="BIGINT"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_acc_name" property="categoryAccName" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="CHAR" javaType="int"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>

    <select id="getFullCateName" resultType="String">
        SELECT category_name
        FROM om_category
        WHERE del_flag = 0
        GROUP BY category_name
    </select>
    
    <select id="getAccCateNameByCateName" resultType="String" resultMap="omCategoryMap">
        SELECT category_id,category_acc_name
        FROM om_category
        WHERE category_name = #{categoryName} AND del_flag = 0
    </select>

    <select id="getCateIdByAccName" resultType="int">
        SELECT category_id
        FROM om_category WHERE category_acc_name = #{categoryAccName}
    </select>

    <select id="getCateNameById" resultType="String">
        SELECT category_name FROM om_category WHERE category_id= #{categoryId}
    </select>

</mapper>